.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #adb5bd;
  padding: 10px 20px;
  margin-bottom: 150px;
  border-radius: 10px;
}

.header p {
  color: #000;
  font-weight: 600;
  font-size: 1.1rem;
}

.footer {
  text-align: center;
  background-color: #a9aca9;
  padding: 20px;
  margin-top: 80px;
  border-radius: 10px;
}
